:root {
    --dark-blue: #2c3e50;
    --aqua-green: #1abc9c;
}

header {
    background-color: var(--dark-blue);
}

.ms_start,
.ms_nav_bar {
    height: 60px;
    margin: 10px 0;
    background-color: white;
    width: 100%;
}

.ms_nav_bar {
    list-style-type: none;
}

.ms_jumbo {
    background-color: var(--aqua-green);
}

.ms_jumbo_content {
    height: 300px;
    width: 100%;
    margin: 60px auto;
    background-color: var(--dark-blue);
}

.ms_portfolio {
    background-color: var(--dark-blue);
    height: 40px;
    margin: 10px 0;
}

[class*="ms_img_"] {
    height: 150px;
    background-color: red;
    margin: 10px 0;
}

.ms_about {
    background-color: var(--aqua-green);
}

.ms_about_h2 {
    height: 30px;
    background-color: white;
    margin: 10px 0;
}

.ms_about_text {
    height: 100px;
    background-color: white;
    margin: 10px 0;
}

.ms_about_button {
    height: 30px;
    background-color: white;
    margin: 10px 0;
}